@import 'styles/variables.scss';
.border1{
	text-align: center;
	color: lightcyan;
	background-color:mediumaquamarine;
}
.border2{
	text-align: center;
    color:lightcyan;
	background-color: forestgreen;
}
.header1{
  height: 37px;
  background-color:green;
  color:white;
  text-align: center;
}
.header2{
  height: 25px;
  background-color:mediumaquamarine;
  color:white;
  text-align: center;
}

th {
	color: lightcyan;
	background-color:red;
  text-align: center;
}
tbody{
  background-color:#EEEEEE;
}
td{
  text-align: center;
  color: #222222;
  font-size:14px;
}
