@import 'styles/variables.scss';

// .menu{
//     text-align: center;
//     background-color: yellowgreen;
//     height: 40px;
//     line-height: 30px;
	
// }   

img {
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
}
.menu{
    text-align: center;
    background-color: white;
    height: 40px;
    line-height: 30px;
	
}   
.bt1{
  color:red;
        
}
