@import 'styles/variables.scss';
.border1{
	text-align: center;
	color: lightcyan;
	background-color:mediumaquamarine;
}
th {
	color: lightcyan;
	background-color:red;
  text-align: center;
}
tbody{
  background-color:#EEEEEE;
}
td{
  text-align: center;
  color: #222222;
  font-size:14px;
}
.header1{
  height: 37px;
  background-color:green;
	text-align: center;
  color:white;
}
