@import 'styles/variables.scss';

.border1{
  text-align: center;
	color:lightcyan;
	background-color: forestgreen;
}
.header{
  background-color:green;
  color: white;
  text-align: center;
  font-size: 20px;

}
