

<span [ngClass]='{"sb-nav-fixed": !false}'>
    <nav class="sb-topnav navbar-light top">
        <img src="../../../../assets/img/slide/3.jpg" style="width:80px; "
            class="col-lg-3 col-form-label form-control-label">
        <strong>ĐẶT SÂN BÓNG ĐÁ</strong>
        <button class="w3-dropdown-hover w3-mobile bt btn">
            
            <img src="../../../../assets/img/avatar.jpg"  style="width:25px; ">
                <div  class="w3-bar-block w3-dropdown-content absolute" *ngIf="checkuser">
                    <div class="w3-bar-item w3-button w3-mobile">{{user.name}}</div>
                    <div class="w3-bar-item w3-button w3-mobile">{{user.phone}}</div>
                    <div class="w3-bar-item w3-button w3-mobile">{{user.gmail}}</div>
                    <div class="w3-bar-item w3-button w3-mobile">{{user.address}}</div>
                    <a href="/dashboard/editUser" style="color:aqua" class="w3-bar-item w3-button w3-mobile"><fa-icon  class='fas' [icon]='["fas","edit"]'></fa-icon><strong>Chỉnh sửa</strong></a>
                    <a (click)="dangxuat()" style="color:red" class="w3-bar-item w3-button w3-mobile"><i class="fas fa-sign-out-alt"><strong>Đăng xuất</strong></i></a>
                </div>
        </button> 
        <div class="menu">
            <img src="../../../../assets/img/slide/2.jpg" style="width:50px; height:40px "
                class="col-lg-3 col-form-label form-control-label">
            <button class="btn bt1" routerLink="/dashboard/home"><strong>TRANG CHỦ</strong></button>
            <button class="btn bt1" routerLink="/dashboard/user"><strong>LỊCH ĐẶT SÂN CỦA NGƯỜI DÙNG</strong></button>
            <button class="btn bt1" routerLink="/dashboard/quans"><strong>DANH DÁCH CÁC QUÁN</strong></button>
            <img src="../../../../assets/img/slide/4.jpg" style="width:50px; height:40px"
                class="col-lg-3 col-form-label form-control-label">
        </div>


    </nav>

    <div>
        <div >
            <main>
                <div class="container-fluid">
                    <br><br><br><br>
                    <ng-content></ng-content>
                </div>
            </main>
            <!-- <sb-footer></sb-footer> -->
        </div>
    </div>
</span>
<!-- 
<span>
    <nav class="sb-topnav navbar-light top">
        <img src="../../../../assets/img/slide/3.jpg" style="width:80px; " class="col-lg-3 col-form-label form-control-label">
        <strong>ĐẶT SÂN BÓNG ĐÁ</strong>
        <button class="bt btn">
            <img src="../../../../assets/img/avatar.jpg" (click)="thongtin()"  style="width:30px; ">
        </button>
        
    </nav>
</span>
<span>
    <nav class="sb-topnav navbar-light menu">
        <img src="../../../../assets/img/slide/2.jpg" style="width:80px; " class="col-lg-3 col-form-label form-control-label">
        <button class="btn bt1" routerLink="/dashboard/home">TRANG CHỦ</button>
        <button class="btn bt1" routerLink="/dashboard/user">LỊCH ĐẶT SÂN CỦA NGƯỜI DÙNG</button>
        <button class="btn bt1" routerLink="/dashboard/quans">DANH DÁCH CÁC QUÁN</button>
        <img src="../../../../assets/img/slide/4.jpg" style="width:80px; " class="col-lg-3 col-form-label form-control-label">
    </nav>
</span> -->
        