@import 'styles/variables.scss';
.b{
  color:white;
  background-color:red;
  text-align: center;
  font-size: 20px;
}

.border1{
	text-align: center;
	color: lightcyan;
	background-color:mediumaquamarine;
}
th {
	color: lightcyan;
	background-color:red;
  text-align: center;
}
tbody{
  background-color:#EEEEEE;
}
td{
  text-align: center;
  color: #222222;
  font-size:14px;
}
.mauvachu{
  //background-color:#41c04d;
  color:black;
}
